<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/coursedb</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>


		<mapping
			class="com.hokumus.course.management.model.kullanici.Users" />
		<!-- murat Güreken  -->
		<mapping
			class="com.hokumus.course.management.model.yonetim.Grup"></mapping> <!-- usr tablosunu olusturmasi icin burada mapping yapilmali -->
		<mapping
			class="com.hokumus.course.management.model.yonetim.GrupGun"></mapping> <!-- usr tablosunu olusturmasi icin burada mapping yapilmali -->
		<mapping
			class="com.hokumus.course.management.model.yonetim.Gun"></mapping> <!-- usr tablosunu olusturmasi icin burada mapping yapilmali -->
		<mapping
			class="com.hokumus.course.management.model.yonetim.Kurs"></mapping> <!-- usr tablosunu olusturmasi icin burada mapping yapilmali -->
		<mapping
			class="com.hokumus.course.management.model.yonetim.Salon"></mapping> <!-- usr tablosunu olusturmasi icin burada mapping yapilmali -->
		<mapping
			class="com.hokumus.course.management.model.ik.Ogretmen"></mapping> <!-- usr tablosunu olusturmasi icin burada mapping yapilmali -->
		<!--  Mustafa Şenyurt -->
		<mapping class="com.hokumus.course.management.model.muhasebe.Gelir"/>
        <mapping class="com.hokumus.course.management.model.muhasebe.Gider"/>        
        <mapping class="com.hokumus.course.management.model.demirbas.Demirbas"/>
        <mapping class="com.hokumus.course.management.model.demirbas.Envanter"/>
        <mapping class="com.hokumus.course.management.model.ogrenci.OgrenciOdeme"/>
        <mapping class="com.hokumus.course.management.model.ogrenci.Ogrenci"/>
        <mapping class="com.hokumus.course.management.model.ogrenci.OgrenciGrup"/>
        <!-- cihan arslan -->        
        <mapping class="com.hokumus.course.management.model.yonetim.Productivity"/>
        <!-- fehime aydın -->
        <mapping class="com.hokumus.course.management.model.ik.Basvuru"/>        
        <mapping class="com.hokumus.course.management.model.ik.Personel"/>


	</session-factory>
</hibernate-configuration>
